@media screen and (max-width:1100px) {
    header {
        flex-direction: column;
    }



    header .search input {
        width: 45vw;
    }

    .card{
        /* flex-direction: column;
        */
    }

    .card .item{
            margin: 25px 2.5vw;
    }
    .slider {
        width: 90vw;
        height: 23vh;
        margin: auto;
    }
}

@media screen and (max-width:1500px) {
    .card{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:900px) {
    .card{
        flex-direction: column;
    }
}